.box{
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
   
}
.box1{
    height: 100px;
    width: 130px;
    background-image: linear-gradient(to right, yellow,red);
    border: 2px solid black;
    text-align: center;
    color: aliceblue;  
    display: flex; 
    margin: 10px; 
    align-items: center;
       
}

.box2{
    height: 100px;
    width: 130px;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    color: aliceblue;   
    display: flex;
    margin: 10px;
    align-items: center;
    margin-left: 10px;
    align-content: center;
    background: -webkit-linear-gradient(green, yellow);      
}

.box3{
    height: 100px;
    width: 130px;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    color: aliceblue; 
    display: flex;
    margin: 10px;
    align-items: center;  
    background: radial-gradient(rgba(0, 0, 255, 0.445), rgb(5, 84, 138), red); 
    align-items: center;
}

.box4{
    height: 100px;
    width: 130px;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    color: aliceblue; 
    display: flex; 
    margin: 10px;
    align-items: center; 
    background: -webkit-radial-gradient( rgb(128, 0, 90) 15%, rgb(0, 255, 55) 60%);
}

.box5{
    height: 100px;
    width: 130px;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    color: aliceblue;  
    display: flex; 
    margin: 10px;
    align-items: center; 
    background: -webkit-linear-gradient(left top, red , rgb(23, 0, 128)); 
   
    
}

.box6{
    height: 100px;
    width: 130px;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    color: aliceblue;  
    display: flex; 
    margin: 10px;
    align-items: center;
    background: -webkit-linear-gradient(left top, red ,pink);
}
#abc{
    text-align: center;
    padding-left: 20px;
}

#a{
    text-align: center;
    padding-left: 45px;
}

#b{
    text-align: center;
    padding-left: 30px;
}



